<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkingSections.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarkingSections.Properties.Settings>
            <setting name="RoadAxisElemIds" serializeAs="String">
                <value />
            </setting>
            <setting name="StartLineElemIds" serializeAs="String">
                <value />
            </setting>
            <setting name="DistanceBetweenLines" serializeAs="String">
                <value>5</value>
            </setting>
        </MarkingSections.Properties.Settings>
    </userSettings>
</configuration>